body{
    font-family: 'Quicksand', sans-serif;
    color:#ffffff;
    background-image: url(https://img.freepik.com/vetores-gratis/circulo-de-tecnologia-e-fundo-azul-tecnologia_78072-468.jpg);
    background-repeat: no-repeat; 
    background-size: cover;
    margin: 20px;
    padding: 3px 3px 5px 30px; 
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    }

div{
    background-color: rgba(0, 0, 255, 0.36);
    border-radius: 50px;
    padding: 5px;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
    color: #1ffafa;
}

ul {
    color:#ffffff;
    align-content: center;
    width: 80%;
}
img {
    border: 3px; border-style: solid; border-color: #5D6FB3
}

figcaption{
    color: #ffffff;
}

h3{
    color: #ffffff;
    border:3px; border-style:solid ; border-color:#5D6FB3;
    border-radius: 20px;
    width: 40vw;
    min-width: 300px;
}

.lista{ 
    color:#ffffff;;
    width: inherit;
    border: none;
    border-radius: 20px;
    margin: 5px;
}

.frase{
    font-size: 120%;
}

p{
    Margin: 5px 5px 5px 50px
}

section{
    text-align: left;
    width: auto;
    display: flex;
    text-align: center;
    flex-direction: column;
    border:3px; border-style:solid ; border-color:#5D6FB3;
    border-radius: 20px;
    padding: 2px 5px 2px 20px;
}

li{
    width: auto;
    text-align: initial;
}
li::marker{
    content: "-  ";
    margin: 100px;
}